@import "variables";
@import "mixin";

.wrapper-decor {
  width: $app_width;
  height: $app_height;
  font: $app_font_size $app_font_family;
  color: $app_font_color;
  background: $wrapper_background;
}

.wrapper {
  text-align: center;
  @extend .wrapper-decor;
  @include border-radius($wrapper_radius);

  &__label {
    font-size: $app_font_size + .5;
  }
}

.form {
  margin-top: 50px;

  &-item {
    margin-bottom: 20px;
  }
  &-error {
    margin: 5px 0;
    color: red;
    font-size: 0.8em;
  }
  &-remover-container {
    margin-top: 100px;
  }
}

.error-div {
  width: 210px;
  height: 210px;
  background: darkcyan;
  z-index: 11;
  position: absolute;
  top: 252px;
}
